@media (min-width:320px) { 
    h1 {
        color: aqua;
    }
 }


@media (min-width:641px) {  
    h1 {
        color: green;
    }
}


@media (min-width:961px) { 
    h1 {
        color: blue;
    }
}