/* This is the main styles page*/

body {
    margin: 0;
    background-image: url("sea-and-nature.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}


/* This is the header where there will be the logo and the name of the website */
.header {
    height: 90px;
    margin: 0;
    position: fixed;
    padding: 0;
    text-align: left;
    background: #4872e7;
    color: white;
    width: 100%;
    top: 0;
    font-size: 300%;
    left: 0;
}
 .header h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(0,0,0,0.7);
    margin-top: 0;
    font-size: 90%;
    margin-left: 30px;
 }

/* This part under here is to take 
care of the navigation bar under 
the header with the buttons "log in" 
and "sign up" */
.topnav {
   overflow: hidden;
   background-color: #333;
   margin-top: 90px;
   position: fixed;
   left: 0;
   width: 100%;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;

}

.topnav a:hover {
    background-color: #dddddd;
    color: black;
}

/* The content of the page, under the header and navbar */
.content {
    left: 20%;
    width: 60%;
    background-color: whitesmoke;
    opacity: 0.9;
    position: absolute;
    top: 136px;
    z-index: -1;

}

.mainWords h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1000%;
    color:salmon;
    text-align: center;
    font-weight: bold;
}

.mainWords h2 {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    color:darkgray; 
    font-size:400%; 
    font-weight:normal; 
    text-align:left; 
    margin-left: 100px;
}

.questions {
    margin-left: 30px;
}

.questions h1 {
    color: #1e4ac4;
    font-size: 300%;
    font-weight: bold;
}

.questions p {
    color: black;
    font-size: 200%;
}

hr {
    color: blue;
    margin: 70px;
    border: 2px solid;
}

.page-wrap {
    width: 960px;
    margin: 0 auto;
    }    

.boxes {
    text-align: center;
}

.box1 {
    width: 50%;
    padding: 5px;
    border: 5px solid blue;
    margin: 30px;
    margin-left: 25%;
}

.box2 {
    width: 85%;
    padding: 5px;
    border: 5px solid turquoise;
    margin: 5%;
    margin-left: 5%;
}

.box2 p {
    padding: 0;
}

.button {
    background-color: rgb(50, 177, 228);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
  }

  .footer {
      background-color: #333;
      bottom: 0;
      padding: 30px;
      opacity: 1;
      width: 100%
  }