.content-title span::before {
  content: "A new way to";
  animation: change1 infinite 20s;
}

.content-title span::after {
  content: "meet new freinds";
  animation: change2 infinite 20s;
}

@keyframes change1 {
  0% {
    content: "A new way to";
  }
  25% {
    content: "Meet people with";
  }
  50% {
    content: "Simple but";
  }
  75% {
    content: "Debate around";
  }
  100% {
    content: "Sign up now!";
  }
}

@keyframes change2 {
  0% {
    content: "meet new friends!";
  }
  25% {
    content: "common interests!";
  }
  50% {
    content: "very useful.";
  }
  75% {
    content: "your interests!";
  }
  100% {
    content: " ";
  }
}
