/*overide some unwanted styling like padding and margin*/
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

#video {
  width: 100%;
  margin: auto;
}

.logo {
  position: absolute;
  margin-top: 15%;
  left: 46.7%;
  z-index: 1001;
}

.NavigationBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-links li ul {
  margin-bottom: 0 !important;
}
.nav-normal {
  background-color:#333;
  padding: 2rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-scroll {
  background-color:transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.Language {
  padding: 8px 16px;
}

.Language:hover {
  background-color: gray;
}

#MenuSlide ul {
  text-align: center;
}

#MenuSlide li li {
  max-height: 0px;
  overflow: hidden;
  transition: all 1.5s;
  border-radius: 3px;
  background: #444;
  box-shadow: none;
  border: none;
  margin: 0px;
  height: 28px;
  padding-top: 3px;
}

#MenuSlide a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

#MenuSlide ul li a,
#MenuSlide li:hover li a {
  font-size: 1em;
}

#MenuSlide li li:hover {
  background: #999;
}

#MenuSlide ul li:last-child {
  border: none;
}

#MenuSlide li:hover li {
  max-height: 32em;
}

.NavigationBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.NavigationBar a:hover {
  background: gray;
  color: black;
}

.container {
  margin-top: 12px;
}

.container-nb {
  text-align: center;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel img {
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

blockquote .blockquote-footer::before {
  content: "\2014 \00A0";
}

.red_line {
  margin: 0 auto;
  margin-top: 400px;
  width: 96%;
  height: 5px;
  background-color: #d4402c;
  border-radius: 40%;
  margin-bottom: 200px;
}

.colored_section_1 {
  margin-top: 200px;
  position: relative;
  background-color: #d4402c;
  margin: 0%;
  height: 375px;
  width: 100%;
}

.colored_section_2 {
  position: relative;
  background-color: #e87e15;
  margin: 0%;
  height: 375px;
  width: 100%;
}

.colored_section_3 {
  position: relative;
  background-color: #e8a915;
  margin: 0%;
  height: 375px;
  width: 100%;
}

.triangle_1 {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #d4402c;
  border-left: 60px solid transparent;
}

.triangle_2 {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #e87e15;
  border-left: 60px solid transparent;
}
