/*overide some unwanted styling like padding and margin*/
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.btn-primary {
  color: #fff;
  background-color: #ffba17 !important;
  border-color: #ffba17 !important;
}

.btn-primary:hover {
  background-color: #efa800 !important;
}

.d-flex {
  display: flex !important;
}

.text-black {
  color: #212529 !important;
}

.NavigationBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  background-color: #1a1a1a;
  transition: all 0.3s ease-in;
}

/*.nav-scroll {
  padding: 1rem 0;
  background-color: transparent;
}*/

.XL-top {
  z-index: 1000;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-links {
  display: flex;
}

.nav-links li ul {
  margin-bottom: 0 !important;
}

.Language {
  padding: 8px 16px;
}

.Language:hover {
  background-color: gray;
}

#MenuSlide ul {
  text-align: center;
}

#MenuSlide li li {
  max-height: 0px;
  overflow: hidden;
  transition: all 1.5s;
  border-radius: 3px;
  background: #444;
  box-shadow: none;
  border: none;
  margin: 0px;
  height: 28px;
  padding-top: 3px;
}

#MenuSlide a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

#MenuSlide ul li a,
#MenuSlide li:hover li a {
  font-size: 1em;
}

#MenuSlide li li:hover {
  background: #999;
}

#MenuSlide ul li:last-child {
  border: none;
}

#MenuSlide li:hover li {
  max-height: 32em;
}

.NavigationBar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.NavigationBar a:hover {
  background: gray;
  color: black;
  text-decoration: none;
}

.header-index .container {
  margin-top: 0;
  padding: 20vh 0px;
}

.container {
  margin-top: 12px;
}

@media screen and (min-width: 1200px) {
  .header-index .container {
    max-width: 1300px !important;
  }
}

.container-nb {
  text-align: center;
}

.header-index {
  background-color: black;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-con-nb {
  display: flex;
}

.header-content-typography {
  display: inline-block;
}

.header-content {
  width: 533px;
}

.content-title {
  margin-bottom: 30px;
}

.content-title span::before {
  content: "A new way to";
  animation: change1 infinite 20s;
}

.content-title span::after {
  content: "meet new freinds";
  animation: change2 infinite 20s;
}

@keyframes change1 {
  0% {
    content: "A new way to";
  }
  25% {
    content: "Another quote";
  }
  50% {
    content: "theXtroyer is";
  }
  75% {
    content: "Why does Oxyde2";
  }
  100% {
    content: "Lorem ipsum dolor";
  }
}

@keyframes change2 {
  0% {
    content: "meet new freinds";
  }
  25% {
    content: "for you (who?)";
  }
  50% {
    content: "the best";
  }
  75% {
    content: "love emojis";
  }
  100% {
    content: "sit amet wow";
  }
}

.header-content {
  display: flex;
}

.screen {
  width: 215px;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

.screen1 {
  z-index: 3;
  position: relative;
  left: 107.5px;
}

.screen2 {
  z-index: 2;
  position: relative;
  top: -25px;
}

.screen3 {
  z-index: 1;
  position: relative;
  top: -50px;
  left: -107.5px;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel img {
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.colored-quote-1 {
  background-color: #ffba17;
}

.colored-quote-2 {
  background-color: #f04937;
}

.content-quote {
  padding: 40px 0;
}

blockquote .blockquote-footer::before {
  content: "\2014 \00A0";
}

.quote-portrait {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.showcase-thumbnail {
  width: 100%;
  height: 300px;
}

.showcase-thumbnail img {
  object-fit: cover;
}

.showcase-text-lead {
  font-size: 15px !important;
}

.footer-copyright {
  background-color: #1a1a1a;
}
