body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.NavigationBar
{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.Language
{
    padding: 8px 16px;
}

.Language:hover
{
    padding: 8px 16px;
    background-color: gray;
}

#MenuSlide
{
    padding:0;
    margin:0;
    list-style: none;
    text-align: center;
    width: 70px;
}

#MenuSlide ul
{
    padding:0;
    margin:0;
    list-style: none;
    text-align: center;
}

#MenuSlide li li
{
    max-height: 0px;
    overflow: hidden;
    transition: all .5s;
    border-radius: 3px;
    background: #444;
    box-shadow: none;
    border: none;
    margin: 0px;
    height: 28px;
    padding-top: 3px;
}

#MenuSlide a
{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

#MenuSlide ul li a, #MenuSlide li:hover li a
{
    font-size: 1em;
}

#MenuSlide li li:hover
{
    background: #999;
}

#MenuSlide ul li:last-child
{
    border: none;
}

#MenuSlide li:hover li
{
    max-height: 32em;
}

.NavigationBar a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.NavigationBar a:hover
{
    background: gray;
    color: black;
}

.Home
{
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

@media (min-width:320px) { /*Phone*/
    h1 {
        color: aqua;
    }

 }


@media (min-width:641px) {  /*Tablet*/
    h1 {
        color: green;
    }
}


@media (min-width:961px) { /*Computer*/
    h1 {
        color: blue;
        font-size: 300%;
    }
}

.WhiteBackground {
    background-color: #fff;
    height: 100%;
    margin: 20px;
}

